body{
    background-image: url('../img/roll-the-dice-craps-board-game-points-122427.jpeg');
    background-size: 100%;
}

#home h1{
    color:#FFF;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-align: center;
}

.dice-container{display: block; width: 100%;}
.dice-input{display: block; text-align: center;}
.dice-button{
    display: block;
    text-align: center;
    width:20%;
    margin-left: auto;
    margin-right:auto;
}
.dice-display{
    display: block;
    text-align: center;
    border: 1px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
}
.dice-label{
    color:white;
}